.cart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

.cart-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.returnHome {
  outline: none;
  text-decoration: none;
  color: black;
  background-color: #eee;
  padding: 14px 24px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid black;
}

.returnHome:hover {
  background-color: #ddd;
}

.cart-container-products-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.cart-container-products-list > h2 {
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.cart-container-subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  width: 350px;
  border: 2px solid black;
  background-color: #eee;
  border-radius: 6px;
  font-size: 20px;
}

.cart-container-subtotal > h2 {
  border-bottom: 2px solid black;
}

.cart-span {
  color: red;
  font-size: 22px;
}

.cart-continue-order-button {
  padding: 7px 80px;
  border: 1px solid grey;
  border-radius: 6px;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: var(--color1);
}

.cart-continue-order-button:disabled {
  background-color: #ddd;
}

.cart-continue-order-button:hover:enabled {
  background-color: #e6d500;
}

@media (max-width: 960px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
  }

  .cart-container-products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    margin: 20px 0;
  }

  .cart-container-subtotal {
    height: 200px;
    width: 310px;
    font-size: 16px;
  }

  .cart-container-subtotal > h2 {
    font-size: 24px;
  }

  .cart-continue-order-button {
    padding: 7px 60px;
    font-size: 1.2rem;
  }
}
