.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  min-height: 80vh;
}

.home-sortSeatch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-row1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 95vw;
  margin: 10px;
}

.home-filters {
  margin-top: 80px;
  margin-right: 20px;
  background-color: var(--primaryColor);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-productsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container-title {
  border-bottom: 4px black solid;
  margin: 18px 0px;
  font-size: 32px;
  text-align: center;
}

@media (max-width: 960px) {
  .home-sortSeatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-container-title {
    font-size: 27px;
  }

  .home-row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-filters {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 6px;
  }
}
