.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.home-container-title {
  border-bottom: 4px black solid;
  margin: 15px 0px;
  font-size: 26px;
}
