.productInOrder-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 10px;
  border-radius: 6px;
}

.productInOrder-container > a {
  text-decoration: none;
  font-size: 20px;
  color: blue;
  border-bottom: 1px solid blue;
}

.productInOrder-container > img {
  height: 50px;
}

.productInOrder-quntity-select {
  padding: 6px;
  font-size: 16px;
}

.productInOrder-delete-button {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  background-color: red;
  font-size: 18px;
}

.productInOrder-delete-button:hover {
  border: 1px solid grey;
}

@media (max-width: 960px) {
  .productInOrder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 10px;
  }

  .productInOrder-container > a {
    font-size: 12px;
  }

  .productInOrder-container > img {
    height: 32px;
  }

  .productInOrder-container > div {
    font-size: 14px;
  }

  .productInOrder-container > h3 {
    font-size: 14px;
  }

  .productInOrder-quntity-select {
    padding: 3px;
    font-size: 13px;
  }

  .productInOrder-delete-button {
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: red;
    font-size: 16px;
  }

  .productInOrder-container > h2 {
    font-size: 18px;
  }
}
