.messageBox-alert {
  padding: 1.2rem;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 20px;
  margin: 10px 0;
}

.messageBox-alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.messageBox-alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.messageBox-alert-success {
  color: #20a020;
  background-color: #daf1da;
}

@media (max-width: 960px) {
  .messageBox-alert {
    padding: 12px;
    font-size: 18px;
    margin: 10px 0;
  }
}
