.productDetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDetail-container > img {
  height: 260px;
}

.productDetail-model {
  margin-bottom: 10px;
}

.productDetail-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #eee;
  padding: 40px;
  margin-right: 100px;
}

.productDetail-detail > h1 {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.productDetail-price {
  margin-top: 10px;
}

.productDetail-price-span {
  color: red;
}

.productDetail-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.productDetail-addToCart-button {
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--color1);
  margin-left: 10px;
}

.productDetail-addToCart-button:hover {
  border: 1px solid grey;
}

.productDetail-buyNow-button {
  padding: 12px 60px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

.productDetail-buyNow-button:hover {
  border: 1px solid grey;
}

@media (max-width: 960px) {
  .productDetail-container {
    flex-direction: column;
  }

  .productDetail-container > img {
    height: 140px;
    margin: 12px 0px;
  }

  .productDetail-detail {
    max-width: 350px;
    margin: 0px;
    padding: 12px;
    font-size: 14px;
  }

  .productDetail-addToCart-button {
    padding: 12px 12px;
  }

  .productDetail-buyNow-button {
    padding: 12px 34px;
  }
}
