.productDetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDetail-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}

.productDetail-image-container > img {
  height: 260px;
  margin-bottom: 20px;
}

.productDetail-image-container > h3 {
  margin: 4px 0px;
}

.productDetail-name {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.productDetail-detail > h2 {
  margin: 5px 0px;
}

.productDetail-model {
  margin-bottom: 10px;
}

.productDetail-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #eee;
  padding: 40px;
  margin-right: 100px;
  font-size: 15px;
}

.productDetail-price {
  margin-top: 10px;
}

.productDetail-price-span {
  color: red;
}

.productDetail-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.productDetail-addToCart-button {
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--color1);
  margin-left: 10px;
}

.productDetail-addToCart-button:hover {
  border: 1px solid grey;
}

.productDetail-buyNow-button {
  padding: 12px 60px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

.productDetail-buyNow-button:hover {
  border: 1px solid grey;
}

@media (max-width: 960px) {
  .productDetail-container {
    flex-direction: column;
  }

  .productDetail-image-container {
    margin-bottom: 20px;
  }

  .productDetail-image-container > h3 {
    margin: 1px 0px;
    font-size: 18px;
  }

  .productDetail-image-container > img {
    height: 140px;
    margin: 14px 0px;
  }

  .productDetail-detail {
    max-width: 350px;
    margin: 0px;
    padding: 12px 20px;
    font-size: 12px;
  }

  .productDetail-addToCart-button {
    padding: 12px 12px;
  }

  .productDetail-buyNow-button {
    padding: 12px 36px;
  }
}
