.orderDetail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 81vh;
}

.orderDetail-container > h2 {
  margin: 20px 0px;
  padding: 12px;
  background-color: var(--primaryColor);
  border-radius: 6px;
}

.orderDetail-row1 {
  display: flex;
  justify-content: center;
}

.orderDetail-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.orderDetail-address {
  padding: 20px 60px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: var(--primaryColor);
  font-size: 18px;
  margin-left: 50px;
}

.orderDetail-address > div {
  margin: 6px 0px;
}

.orderDetail-address > div > span {
  font-weight: bold;
}

/* --------------------------------------------------------------------------- */

.orderDetail-payment {
  padding: 20px 60px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: var(--primaryColor);
  font-size: 18px;
}

.orderDetail-payment > div {
  margin: 6px 0px;
}

.orderDetail-payment > div > span {
  font-weight: bold;
}

/* --------------------------------------------------------------------------- */

.orderDetail-orderList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px 20px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: var(--primaryColor);
}

.orderDetail-totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  border-radius: 6px;
  border: 1px solid black;
  padding: 8px 16px;
  margin-top: 20px;
  width: 300px;
}

.orderDetail-totalPrice > div {
  font-size: 24px;
  margin: 6px;
}

/* --------------------------------------------------------------------------- */

@media (max-width: 960px) {
  .orderDetail-container {
    min-height: 75vh;
  }

  .orderDetail-row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .orderDetail-address {
    padding: 20px 60px;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .orderDetail-orderList {
    margin-top: 20px;
    padding: 5px 0px;
  }

  .orderDetail-totalPrice {
    padding: 4px 8px;
    margin-top: 10px;
    width: 300px;
  }

  .orderDetail-totalPrice > div {
    font-size: 22px;
    margin: 6px;
  }
}
