.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  margin-top: 20px;
  width: 100vw;
  box-shadow: 0px -3px 4px grey;
}

.detail-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.footer-contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

.contact-phoneNumber {
  font-size: 18px;
  margin-bottom: 4px;
}
.contact-email {
  font-size: 18px;
}

.contact-us-title-takanon {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
  cursor: pointer;
}

.contact-us-title-takanon:hover {
  color: var(--color3);
}

.footer-reserve {
  border-top: 1px solid black;
  padding: 14px 0px;
  margin: 14px 0px;
  font-size: 17px;
  width: 70vw;
  text-align: center;
}

@media (max-width: 960px) {
  .detail-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2px;
  }

  .contact-us-title-takanon {
    margin: 5px 0px;
  }

  .footer-reserve {
    padding: 12px 0px;
    margin: 6px 0px;
    font-size: 17px;
  }
}
