.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryColor);
  padding: 12px;
  border-radius: 6px;
  border: 1px solid black;
  width: 360px;
  margin: 0px 10px;
}

.search-container-input {
  margin-right: 15px;
  border: none;
  border-bottom: 1px black solid;
  background-color: transparent;
  text-align: center;
  padding: 6px;
  width: 200px;
  font-size: 16px;
}

.search-container-input:focus {
  outline: none;
}

.fa-search {
  font-size: 1.5rem;
}

@media (max-width: 960px) {
  .search-container {
    width: 280px;
  }

  .search-container-input {
    margin-right: 15px;
    padding: 3px;
    width: 120px;
    font-size: 15px;
  }

  .fa-search {
    font-size: 1.3rem;
  }
}
