.checkoutSteps-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.checkoutSteps-container > div {
  border-top: 4px solid grey;
  font-size: 22px;
  color: grey;
  padding: 20px 80px;
  font-weight: bold;
}

.checkoutSteps-container > div.active {
  border-top-color: var(--color3);
  color: var(--color3);
}

@media (max-width: 960px) {
  .checkoutSteps-container > div {
    border-top: 3px solid grey;
    font-size: 15px;
    color: grey;
    padding: 8px 10px;
  }
}
