.top_board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryColor);
  border-radius: 6px;
  height: 220px;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 140px 0px;
  font-family: 'Tinos', serif;
}

.top_board-container > h2 {
  font-size: 55px;
  color: rgb(221, 103, 103);
  -webkit-text-stroke: 1px red;
  margin-bottom: 10px;
}

.top_board-container > h3 {
  font-size: 1.7rem;
}

@media (max-width: 960px) {
  .top_board-container {
    height: 130px;
    width: 300px;
    text-align: center;
    padding: 70px 0px;
  }

  .top_board-container > h2 {
    font-size: 1.6rem;
  }

  .top_board-container > h3 {
    font-size: 1.1rem;
    width: 220px;
  }
}
