.takanon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  padding: 25px;
  width: 90vw;
}

.takanon-container > h1 {
  margin: 20px 0;
}

.takanon-container-list {
  list-style-type: none;
}

.takanon-container-list > li {
  margin: 20px 0;
}
